body{
    background-color: #73c8a9;
    font-family: 'Press Start 2P', cursive;
    background-image: linear-gradient(to right, #555c6b, #ebe5e5, #555c6b);
    margin: 0px;
    height: 100%;
    display: flexbox;
}

#start-menu {
    margin: 150px auto;
    width: 250px;
    padding: 20px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 50%);
    z-index: 1000;
}

button{
    background-color: #2e2e2e;
    border:none;
    border-radius: 5px;
    color: #fff;
    font-size: 1em;
    padding: 15px 30px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: all 0.25s ease;
}

button:hover{
    background-color: rgb(102, 102, 102);
    transform: translatey(-5px);
    font-size: 1.1em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.menu-objects{
    text-align: center;
    display: block;
}
#pombo-menu{
    width: 150px;  
}